.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-search {
  /* background-color: #282c34; */
  min-height: 10vh;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-not-found {
  /* background-color: #282c34; */
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dark {
  background-color: #333!important; 
   color: #fff!important;
   
  }
  .dark *{color: rgba(255, 255, 255, 0.692)!important;
   
  }
  .dark .cart-container div div .table-bordered{border: 1px solid rgb(59, 59, 58)!important;}
  .dark .checkout{
    background-color: rgb(55, 61, 59)!important;
  }
  .dark .cont .whiteImg{display: block; }
  .dark .cont .blackImg{display: none}
  .dark .navbar{background-color: #198754!important;}
  .dark .form-control{color: black!important;}
  .dark .wtoast{display: none;}
  .dark .dropdown-menu{background: rgb(34, 34, 34);}
  .dark .dropdown-menu a:hover{background-color: #198754;}
  .dark .offcanvas {background-color: #198754;}
  .dark .card-body{color:white;background-color: #333;}
  .dark select *{color: rgb(36, 35, 35)!important;}
  .dark select {color: rgb(36, 35, 35)!important;}

  .light {
  background-color: #fff!important;
  color: #333!important;
  }
  .light .dtoast{display: none;}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



