form{width: 100%;margin:0}
form .form-control{width: 400px!important;border:1px solid rgb(46, 129, 46)}



.myform{display: flex ;flex-direction: row;justify-content: center;align-items:center ;}

.form-control{margin-left: 30px;}


@media screen and (max-width: 770px) {
    form .form-control{width:50vw!important;border:1px solid rgb(46, 129, 46)}

  }